.ns-summary-list {
  display: inline-block; width: 100%; overflow: hidden; white-space: nowrap; box-sizing: border-box;
  border-radius: 5px; position: relative;
  // box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  zoom: 1;
  &:before, &:after { content: ""; display: table; }
  &:after {clear: both;}
  .ns-summary-item {
    border-right: 1px solid #eaeaea; float: left;
    &:last-child { border-right: 0px; }
  }
}
.ns-summary-space { padding: 10px; }
.ns-summary-size-large.ns-summary-space { padding: 25px; }
.ns-summary-size-medium.ns-summary-space { padding: 20px; }
.ns-summary-size-default.ns-summary-space { padding: 15px; }
.ns-summary-size-large {
  .ns-summary-item {
    .ns-summary-item-desc { font-size: 28px; line-height: 32px; padding-bottom: 12px; }
    .ns-summary-item-title { font-size: 16px; }
  }
}
.ns-summary-size-medium {
  .ns-summary-item {
    .ns-summary-item-desc { font-size: 20px; line-height: 28px; padding-bottom: 10px; }
    .ns-summary-item-title { font-size: 15px; }
  }
}
.ns-summary-size-default {
  .ns-summary-item {
    .ns-summary-item-desc { font-size: 24px; line-height: 24px; padding-bottom: 8px; }
    .ns-summary-item-title { font-size: 14px; }
  }
}
.ns-summary-size-small {
  .ns-summary-item {
    .ns-summary-item-desc { font-size: 20px; line-height: 20px; padding-bottom: 6px; }
    .ns-summary-item-title { font-size: 13px; }
  }
}
.ns-summary-size-mini {
  .ns-summary-item {
    .ns-summary-item-desc { font-size: 16px; line-height: 16px; padding-bottom: 4px; }
    .ns-summary-item-title { font-size: 12px; }
  }
}

// item
.ns-summary-item {
  display: inline-block; text-align: center; padding: 10px 0; color: #818181; width: 33.33%;
  height: 100%; box-sizing: border-box;
  .ns-summary-item-desc {
    display: block; min-height: 24px;
    // font-size: 24px; padding-bottom: 8px;
  }
  .ns-summary-item-title {
    display: block;
    // font-size: 14px;
  }
}

.ns-summary-type-primary {
  .ns-summary-item-desc { color: #409EFF; }
}
.ns-summary-type-info {
  .ns-summary-item-desc { color: #2dc3e8; }
}
.ns-summary-type-gray {
  .ns-summary-item-desc { color: #C0C4CC; }
}
.ns-summary-type-success {
  .ns-summary-item-desc { color: #67C23A; }
}
.ns-summary-type-warning {
  .ns-summary-item-desc { color: #E6A23C; }
}
.ns-summary-type-danger {
  .ns-summary-item-desc { color: #F56C6C; }
}
